h1{
  font-size: 30px;
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  color: #5AC600;
  text-align: center;
}
h2{
  font-size: 20px;
  font-family: 'Oleo Script', cursive;
  color: #7EF11F;
  text-align: center;
}
